<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Garis Ridzi</title>
</head>

<body>
    <div class="container">
        <p class="font-weight-bold">
            <h2>
                Challange 22
            </h2>
        </p>
        <hr>
        <form action="/" method="get">
            <div class="col-auto my-3 row">
                <label for="disabledTextInput" class="col-sm-2 col-form-label"><input type="checkbox"
                        name="cbId">ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="disabledTextInput" name="id" value="" placeholder="ID">
                </div>
            </div>

            <div class="col-auto my-3 row">
                <label for="formGroupExampleInput2" class="col-sm-2 col-form-label"><input type="checkbox"
                        name="cbString">String</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="stringd" value=""
                        placeholder="String">
                </div>
            </div>

            <div class="col-auto my-3 row">
                <label for="formGroupExampleInput3" class="col-sm-2 col-form-label"><input type="checkbox"
                        name="cbInteger">Integer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="formGroupExampleInput3" name="integerd" value=""
                        placeholder="Integer">
                </div>
            </div>

            <div class="col-auto my-3 row">
                <label for="formGroupExampleInput4" class="col-sm-2 col-form-label"><input type="checkbox"
                        name="cbFloat">Float</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="formGroupExampleInput4" name="floatd" value=""
                        placeholder="Float">
                </div>
            </div>

            <div class="col-auto my-3 row">
                <label for="example-date-input" class="col-sm-2 col-form-label"><input type="checkbox"
                        name="dated">Date From</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="example-date-input" name="sDate" value=""
                        placeholder="10/31/2000">
                    <br>
                    <p>To</p>
                    <input type="date" class="form-control" id="example-date-input" name="eDate" value=""
                        placeholder="10/31/2000">
                </div>
            </div>

            <div class="col-auto my-3 row">
                <label class="col-sm-2 col-form-label" for="inlineFormCustomSelect"><input type="checkbox"
                        name="cbBoolean">Boolean</label>
                <div class="col-sm-10">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="booleand">
                        <option selected value="">Choose the boolean ...</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cari</button>
            <a href="/" class="btn btn-warning">Reset</a>
        </form>

        <br>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>String</th>
                    <th>Integer</th>
                    <th>Float</th>
                    <th>Date</th>
                    <th>Boolean</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((item) => {%>
                <tr>
                    <td><%= item._id %></td>
                    <td><%= item.stringd %></td>
                    <td><%= item.integerd %></td>
                    <td><%= item.floatd %></td>
                    <td><%= item.dated %></td>
                    <td><%= item.booleand %></td>
                    <td>
                        <a class="btn btn-success" href="edit/<%= item._id %>">Edit</a>
                        <a class="btn btn-danger" href="delete/<%= item._id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <br>

        <nav aria-label="Page navigation example" style="margin-top:1%">
            <ul class="pagination">
                <li class="page-item <%= page == 1 ? 'disabled' : ''%>"><a class="page-link"
                        href="/?page=<%= parseInt(page) - 1 %>">Previous</a>
                </li>
                <% for(let i = 1; i <= pages; i++){ %>
                <li class="page-item <%= page == i ? 'active' : '' %>"><a class="page-link"
                        href="/?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <li class="page-item <%= page == pages ? 'disabled' : ''%>"><a class="page-link"
                        href="/?page=<%= parseInt(page) + 1 %>">Next</a>
                </li>
            </ul>
        </nav>

        <a class="btn btn-primary" href="add">Tambah</a>
        <br>
    </div>
</body>

</html>