<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Garis Ridzi</title>
</head>

<body>
    <div class="container">
        <p class="font-weight-bold">
            <h2>
                Challange 19
            </h2>
        </p>
        <hr>
        
        <div class="col-auto my-3 row">
            <label for="disabledTextInput" class="col-sm-2 col-form-label"><input type="checkbox">ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="disabledTextInput" name="id" value="" placeholder="ID">
            </div>
        </div>
        <div class="col-auto my-3 row">
            <label for="formGroupExampleInput2" class="col-sm-2 col-form-label"><input type="checkbox">String</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formGroupExampleInput2" name="string" value=""
                    placeholder="String">
            </div>
        </div>
        <div class="col-auto my-3 row">
            <label for="formGroupExampleInput3" class="col-sm-2 col-form-label"><input type="checkbox">Integer</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formGroupExampleInput3" name="integer" value=""
                    placeholder="Integer">
            </div>
        </div>
        <div class="col-auto my-3 row">
            <label for="formGroupExampleInput4" class="col-sm-2 col-form-label"><input type="checkbox">Float</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formGroupExampleInput4" name="float" value=""
                    placeholder="Float">
            </div>
        </div>
        <div class="col-auto my-3 row">
            <label for="example-date-input" class="col-sm-2 col-form-label"><input type="checkbox">Date From</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="example-date-input" name="date" value=""
                    placeholder="10/31/2000">
            </div>
        </div>
        <div class="col-auto my-3 row">
                <label for="example-date-input" class="col-sm-2 col-form-label"><input type="checkbox">Date To</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="example-date-input" name="date" value=""
                        placeholder="10/31/2000">
                </div>
            </div>
        <div class="col-auto my-3 row">
            <label class="col-sm-2 col-form-label" for="inlineFormCustomSelect"><input type="checkbox">Boolean</label>
            <div class="col-sm-10">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="boolean">
                    <option selected>Choose the boolean ...</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>String</th>
                    <th>Integer</th>
                    <th>Float</th>
                    <th>Date</th>
                    <th>Boolean</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach((item, index) => {%>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.string %></td>
                    <td><%= item.integer %></td>
                    <td><%= item.float %></td>
                    <td><%= item.date %></td>
                    <td><%= item.boolean %></td>
                    <td>
                        <a class="btn btn-success" href="edit/<%= item.id %>">Edit</a>
                        <a class="btn btn-danger" href="delete/<%= item.id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <br>
        <br>
        <a class="btn btn-primary" href="add">Tambah</a>
    </div>
</body>

</html>